@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap');

* {
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

button {
	background-color: purple;
	color: #fff;
	border: 1px purple solid;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 20px 30px;
	overflow: hidden;
	margin: 10px 0;
}

button .circle {
	position: absolute;
}